<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control"  %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, class: "form-control"  %>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <%= form.datetime_select :deadline, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.radio_button :status, 0 %>
    <%= form.label "未対応" %>
    <%= form.radio_button :status, 1 %>
    <%= form.label "対応中" %>
    <% if params[:action] == "edit" %>
      <%= form.radio_button :status, 2 %>
      <%= form.label "完了" %>
    <% end %>
  </div>

    <div class="actions float-right" style="display: inline-block;">
      <% if params[:action] == "new" %>
        <%= form.submit "登録する", class: 'btn btn-success text-white' %>
      <% else %>
        <%= form.submit "更新する", class: 'btn btn-success text-white' %>
      <% end %>
    </div>
<% end %>
