<%= form_with(model: task) do |form| %>
  <% if @task.errors.any? %>
    <div>
      <ul style="color: red">
        <% @task.errors.full_messages.each do |message| %>
          <li>・<%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :title, "タイトル" %>
    <%= form.text_field :title, class: "form-control"  %>
  </div>

  <div class="field mb-3">
    <%= form.label :content, "内容" %>
    <%= form.text_area :content, class: "form-control"  %>
  </div>

  <%= hidden_field_tag :user_id, current_user.id %>

  <div class="field mb-3">
    <%= form.label :deadline, "期限" %>
    <br>
    <%= form.datetime_select :deadline, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :status, "ステータス" %>
    <%= form.radio_button :status, 0 %>
    <%= form.label "未対応" %>
    <%= form.radio_button :status, 1 %>
    <%= form.label "対応中" %>
    <% if params[:action] == "edit" %>
      <%= form.radio_button :status, 2 %>
      <%= form.label "完了" %>
    <% end %>
  </div>

  <div class="actions float-right" style="display: inline-block;">
    <% if params[:action] == "new" %>
      <%= form.submit "登録する", class: 'btn btn-success text-white' %>
    <% else %>
      <%= form.submit "更新する", class: 'btn btn-success text-white' %>
    <% end %>
  </div>
<% end %>
