<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control"  %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, class: "form-control"  %>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <%= form.datetime_select :deadline, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :status %>
        <%= form.radio_button :status, 1 %>
        <%= form.label "#" %>
        <%= form.radio_button :status, 2 %>
        <%= form.label "#" %>
        <%= form.radio_button :status, 3 %>
        <%= form.label "#" %>
        <%= form.radio_button :status, 4 %>
        <%= form.label "#" %>
  </div>
  <div class="actions float-right" style="display: inline-block;">
    <%= form.submit "更新する", class: 'btn btn-success text-white' %>
  </div>
<% end %>
