<h1>マイタスク</h1>

<div id="new-blog-link" class="button">
  <%= link_to '新規作成', new_task_path, class: 'btn btn-outline-secondary' %>
</div>

<div class="row ItemList">
  <% @tasks.each do |task| %>
    <% if task.user_id == current_user.id %>
      <div class="col-6" id="cell" >
    <% else %>
      <div class="col-6" >
    <% end %>
        <div style="margin: 10px; border: 1px solid #000">
          <% if task.user_id == current_user.id %>
            <div class="card-header" style="background-color: rgb(247, 185, 183);">
          <% else %>
            <div class="card-header" style="background-color: rgb(169, 224, 169);">
          <% end %>
            <% if task.user_id == current_user.id %>
              <p><%= task.title, class: ""%><p>
            <% else %>
              <p><%= task.title %><p>
            <% end %>
            </div>
            <div class="card-body">
              <p><%= task.content%><p>
              <p>期限：<%= task.deadline.strftime("%Y年%-m月%-d日 %-H時%-M分") %></p>
              <p>担当者：<%= task.user.name %><p>
              <p>ステータス：<%= @status[task.status]%></p>
              <div class="form-group">
                <%= link_to '詳細', task_path(task), class: 'btn btn-secondary text-white' %>
                <% if task.user_id == current_user.id %>
                  <%= link_to '編集', edit_task_path(task), class: 'btn btn-primary text-white' %>
                  <%= button_to '削除', task_path(task), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger text-white'%>
                <% end %>
              </div>
            </div>
        </div>
      </div>
  <% end %>
</div>
