<header>
  <div class="logo">
      <%= link_to 'タスク管理アプリ', root_path, class: "link_to" %>
  </div>

  <div id="hamburger">
      <div class="icon">
          <span></span>
          <span></span>
          <span></span>
      </div>
  </div>

  <nav class="sm">
    <ul>
      <li class="link_to">
        <%= link_to 'マイタスク', tasks_show_mine_path %>
      </li>
      <li class="link_to">
        <%= link_to 'タスク一覧', root_path %>
      </li>
      <li class="link_to">
        <%= link_to 'ユーザ設定', edit_user_registration_path %>
      </li>
      <li class="link_to">
        <% if current_user %>
          <%= button_to 'サインアウト', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= button_to 'サインイン', new_user_session_path %>
        <% end %>
      </li>
    </ul>
  </nav>

  <nav class="pc">
    <ul>
        <li>
          <%= link_to 'マイタスク', tasks_show_mine_path ,class: "link_to" %>
        </li>
        <li>
          <%= link_to 'タスク一覧', root_path ,class: "link_to" %>
        </li>
        <li>
          <%= link_to 'ユーザ設定', edit_user_registration_path ,class: "link_to" %>
        </li>
        <li style="justify-content: center; display: flex; align-items: center;">
          <% if current_user %>
            <%= button_to 'サインアウト', destroy_user_session_path, method: :delete, class: "button_to" %>
          <% else %>
            <%= button_to 'サインイン', new_user_session_path ,class: "button_to" %>
          <% end %>
        </li>
      </ul>
  </nav>

  <% if current_user %>
    <p id="header-message" style="margin: 0 0 0 auto;">ようこそ<%= current_user.name%>さん</p>
  <% end %>
</header>

<script>
  $('#hamburger').on('click', function(){
    $('.icon').toggleClass('close');
    $('.sm').slideToggle();
  });
</script>
